*{
   box-sizing: border-box;
   margin: 0;
}
/*header   */
.header{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    background-image:linear-gradient(rgba(20,20,20,.50),rgba(20,20,20,.50)), url("img/capa.jpg");
    height: 200px;
    background-size: cover;
    color: aliceblue;

    padding-left: 50px;
}
.hbox{
    width: 40%;
    text-align: justify;
}
                    /*section */
                    h2{
                        text-align: center;
                        margin: 15px;
                    }
                    .section{
                        margin-bottom: 30px;
                    }
                    .section .content{
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }
                    .section .content .bloco{
                        display:inline-block;
                        border: 2px solid rgb(110, 110, 113);
                        margin: 0 25px;
                    }
                    h3{
                        text-align: center;
                    }
/*footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: #60c198;

    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}
.ovo{
    display: flex;
    justify-content: flex-end ;

}
.iovo{
    width: 15%;
}
h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    text-align: center;
}